body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40PX;
}

.color-change{
    color:orange;
}

.fexible-container{
    display:flex;
    margin-bottom: 200px;
    margin-top: 20px;
}

.header-half{
    width:50%;
    padding-left:5% ;
}

.header-half img{
    width:80%;
}



.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.header-half p{
    padding-right: 5%;
}

.fexible-container-2{
    display: flex;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-box{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 30PX;
    border-left: 10px orange solid;
    border-image:linear-gradient(orange, tomato);
    border-image-slice: 1;
}

.experience-box p{
    margin-bottom: 100px;
}

#baby-developer{
    border-left:7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer{
    text-align: center;
    margin-top: 300px;
    font-weight: 500;
    font-size: 18px;
}




